body {
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #003366;
}

nav ul li {
  padding: 15px;
  color: white;
}

.hero-section {
  padding: 40px;
  background: linear-gradient(to right, #003366, #0099cc); /* horizontal gradient */
  text-align: center;
}

section {
  padding: 20px;
}

